{
  "name": "__NAME__",
  "version": "1.0.0",
  "description": "__DESCRIPTION__",
  "author": { "name": "Austin Songer" },
  "homepage": "https://github.com/austinsonger/ClaudeAdvancedPlugins",
  "repository": "https://github.com/austinsonger/ClaudeAdvancedPlugins",
  "license": "MIT",
  "category": "__CATEGORY__",
  "commands": "./commands",
  "metadata": {
    "badges": ["command"],
    "chains_to": []
  }
}
